APP_NAME=sandalpunk
PORT=8080
BASE_URL=https://example.com
BOT_TOKEN=replace_me
BOT_USERNAME=replace_me_bot
APP_STORAGE=jdbc
LOG_LEVEL=INFO

DB_URL=jdbc:h2:file:./data/polus;AUTO_SERVER=TRUE;MODE=PostgreSQL
DB_USERNAME=sa
DB_PASSWORD=
