APP_NAME=sandalpunk
PORT=8080
BASE_URL=https://example.com
BOT_TOKEN=replace_me
BOT_USERNAME=replace_me_bot
APP_STORAGE=inmemory
LOG_LEVEL=INFO

DB_URL=jdbc:postgresql://localhost:5432/sandalpunk
DB_USERNAME=sandalpunk
DB_PASSWORD=replace_me

